assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
vendor/

# modules managed by composer
betterbuttons/
cms/
dashboard/
deploytools/
email-helpers/
foundationforms/
framework/
gridfieldextensions/
themes/foundation/
userforms/
zen_fields/
